<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Predicción</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/prediccion.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        {% include 'partials/_sweetAlert2.html' %} <!-- incluimos las etiquetas necesarias para utilzar sweetAlert2 -->
    </head>
    <body>
        {% include 'partials/_navbar.html' %}

        <div class="container">
            <h2>Reconocimiento de imágenes con IA</h2>
            {% if not ruta_img %}
                <div class="contenedor-imagen">
                    <form action="/prediccion/nueva_prediccion" method="POST" enctype="multipart/form-data">
                        <!-- Campo para subir imagen -->
                        <div class="contenedor-input">
                            <label for="imagen-input" class="imagen-label">Inserte Imagen</label>
                            <input id="imagen-input" type="file" name="imagen" accept=".png, .jpg, .jpeg" required>
                            <!-- <img id="imagen-miniatura" src="#" alt="Miniatura de la imagen" /> -->
                        </div>
                        <button id="btnPredecir" type="submit">Realizar predicción</button>
                    </form>
                </div>
            {% endif %}
            {% if ruta_img %}
                <div class="contenedor-imagen">
                    <div>
                        <img src="{{ ruta_img }}" alt="Predicción de la imagen" id="imagen-miniatura">
                    </div>
                </div>
            {% endif %}

            <div class="contenedor-prediccion">
                <h3>Resultado:</h3>
                <div class="prediccion-item">
                    <label for="coyote-input">Coyote</label>
                    <div class="prediccion-nivel">
                        <span id="nivel_coyote" class="nivel"></span>
                    </div>
                    <span id="coyote" class="prediccion-porcentaje">{{ porcentaje_coyote }}%</span>
                </div>
                <div class="prediccion-item">
                    <label for="lobo-input">Lobo</label>
                    <div class="prediccion-nivel">
                        <span id="nivel_lobo" class="nivel"></span>
                    </div>
                    <span id="lobo" class="prediccion-porcentaje">{{ porcentaje_lobo }}%</span>
                </div>
                <div class="prediccion-item">
                    <label for="perro-input">Perro</label>
                    <div class="prediccion-nivel">
                        <span id="nivel_perro" class="nivel"></span>
                    </div>
                    <span id="perro" class="prediccion-porcentaje">{{ porcentaje_perro }}%</span>
                </div>
                <div class="prediccion-item">
                    <label for="zorro-input">Zorro</label>
                    <div class="prediccion-nivel">
                        <span id="nivel_zorro" class="nivel"></span>
                    </div>
                    <span id="zorro" class="prediccion-porcentaje">{{ porcentaje_zorro }}%</span>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predecir.js') }}"></script>
</html>