<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Predicción</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ver_predicciones.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    </head>
    <body>
        {% include 'partials/_navbar.html' %}

        <div class="container">
            {% for prediccion in predicciones %}
                <div class="card">
                    <img src="{{ prediccion.imagen_prediccion }}" alt="Imagen de la predicción">
                    <h3>Coyote: {{ prediccion.porcentaje_coyote }}%</h3>
                    <h3>Lobo: {{ prediccion.porcentaje_lobo }}%</h3>
                    <h3>Perro: {{ prediccion.porcentaje_perro }}%</h3>
                    <h3>Zorro: {{ prediccion.porcentaje_zorro }}%</h3>
                </div>
            {% endfor %}
        </div>
        
    </body>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</html>